beautifulsoup4
bs4
dbt-bigquery
dagit
dagster
google-api-core
google-auth
google-cloud
google-cloud-bigquery
google-cloud-bigquery-storage
google-cloud-core
google-cloud-storage
pandas
pre-commit
python-dotenv
selenium
spotipy